body{
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .main__screen{
            width: 700px;
            height: 100px;
            margin: auto;
            margin-bottom: 10px;
            margin-top: 50px;
            background-color: rgb(73, 100, 89);
            border: 3px solid rgb(54, 75, 67);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .main__history{
                width: 98%;
                height: 46%;
                background-color: white;
                border: 1px solid black;
                border-bottom: none;
            }
            .main__op{
                @extend .main__history;
                border-top: none;
                border-bottom: inherit;
            }
        }
        .main__buttons{
            width: 700px;
            height: 500px;
            margin: auto;
            display: grid;
            grid-template-rows: 15% 15% 15% 15% 15%;
            grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
            justify-content: space-evenly;
            align-content: center;
            background-color: rgb(73, 100, 89);
            border: 3px solid rgb(54, 75, 67);
            row-gap: 3%;
            .main__buttons-op{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgb(54, 75, 67);
                background-color: rgb(102, 141, 125);
            }
            .main__buttons-op:hover{
                opacity: 50%;
            }
            .buttons-nb{
                background-color: rgb(51, 104, 82);
            }
            .buttons-enter{
                background-color: rgb(70, 175, 131);
            }
        }
        
    }
}